QRCodeExtractor/pdfs/*
QRCodeExtractor/qr_codes/*
PassMaker/certificates/*
PassMaker/myPassModel/*
PassMaker/pass.pkpass/*
PassMaker/wallet_pass/*
.DS_Store
PassMaker/.DS_Store
Swift_App/pass.pkpass
Swift_App/certificates
Swift_App/qr_codes